/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #242424;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 1080px;
}

  
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* Style the list (remove margins and bullets, etc) */
ul.symbolList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.symbolList .getSymbol {
  cursor: pointer;
}

/* Style the list items */
ul.symbolList li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

/* Add a light grey background color on hover */
ul.symbolList li:hover {
  background-color: #eee;
}

/* Style the close button (span) */
.symbolList .removeItem {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 20px;
  transform: translate(0%, -50%);
}

.symbolList .removeItem:hover {
  background: #ff2525;
  color: #fff;
}

#interval-close ul.pagination {
  cursor: pointer;
}

#indicators .table {
  cursor: default;
}

.modal-header {
    background-color: #5c2be2;
}
.modal-body {
  color: #313131;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}