<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Análise Técnica de Ações com base em Médias Móveis e Tendências</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="text-center">
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <nav>
            </div>
          </header>
          <div id="widgetContent">
            <main role="main" class="inner">
              <h2 class="cover-heading">Análise Técnica de Ações baseado em Médias e Tendências</h2>
              <div class="input-group mb-3">
                <input id="symbol" type="text"  oninput="this.value = this.value.toUpperCase()"  class="form-control" placeholder="Insira o da ação ETF ou o símbolo do fundo mútuo" aria-label="Ação, ETF ou Fundo Mútuo" aria-describedby="basic-addon2" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" onclick="site.SubmitForm();">Pesquisar</button>
                </div>
              </div>
              <div class="pos-f-t symbolListDiv" style="display: none;">
                <div class="collapse" id="navbarToggleExternalContent">
                  <div class="bg-dark p-4">
                     <ul class="symbolList">
                     </ul>
                  </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="title mx-auto">
                    <h4 class="currentSymbolName d-inline"></h4>
                    <div class="spinner-grow spinner-grow-sm loadingChart" style="display: none;" role="status">
                      <span class="sr-only">Carregando...</span>
                    </div>
                  </div>
                </nav>
              </div>
              <div id="chart_container"></div>
              <div id="interval-close" class="p-3" style="display: none;">
                <nav aria-label="Período">
                  <h6 class="float-right p-2">Período</h6>
                  <ul class="pagination float">
                    <li class="page-item">
                      <span class="page-link" data-interval="1m" onclick="site.getIntervalChart(this)">1m</span>
                    </li>
                    <li class="page-item active">
                      <span class="page-link" data-interval="5m" onclick="site.getIntervalChart(this)">5m <span class="sr-only">(current)</span></span>
                    </li>
                    <li class="page-item">
                      <span class="page-link" data-interval="15m" onclick="site.getIntervalChart(this)">15m</span>
                    </li>
                    <li class="page-item">
                      <span class="page-link" data-interval="30m" onclick="site.getIntervalChart(this)">30m</span>
                    </li>
                    <li class="page-item">
                      <span class="page-link" data-interval="1hr" onclick="site.getIntervalChart(this)">1h</span>
                    </li>
                    <li class="page-item">
                      <span class="page-link" data-interval="2hr" onclick="site.getIntervalChart(this)">2h</span>
                    </li>
                    <li class="page-item">
                      <span class="page-link" data-interval="4hr" onclick="site.getIntervalChart(this)">4h</span>
                    </li>
                    <li class="page-item">
                      <span class="page-link" data-interval="12hr" onclick="site.getIntervalChart(this)">12h</span>
                    </li>
                    <li class="page-item">
                      <span class="page-link" data-interval="1d" onclick="site.getIntervalChart(this)">1d</span>
                    </li>
                    <li class="page-item">
                      <span class="page-link" data-interval="5d" onclick="site.getIntervalChart(this)">5d</span>
                    </li>
                    <li class="page-item">
                      <span class="page-link" data-interval="1wk" onclick="site.getIntervalChart(this)">1S</span>
                    </li>
                    <li class="page-item">
                      <span class="page-link" data-interval="1mo" onclick="site.getIntervalChart(this)">1M</span>
                    </li>
                  </ul>
                </nav>
              </div>
              <div id="tendency-container" style="height: 250px; display:none;"></div>
              <div class="container indicators-tendency-up-down" style="display: none;">
                <div class="row">
                  <div class="col-md-4 indicators-down">Tendência de Baixa: <span class="value">-</span></div>
                  <div class="col-md-4 indicators-neutral">Tendência Neutra: <span class="value">-</span></div>
                  <div class="col-md-4 indicators-up">Tendência de Alta: <span class="value">-</span></div>
                </div>
              </div>
              <div id="indicators"></div>
            </main>
          </div>
          
          <footer class="mastfoot mt-auto">
            <div class="inner">
              <p>Trabalho de Conclusão de Curso</a></p>
            </div>
          </footer>

        <!-- Modal Remove -->
        <div class="modal fade" id="modalAlertRemoveSymbol" tabindex="-1" role="dialog" aria-labelledby="modalAlertRemoveSymbol" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Tem certeza que deseja excluir?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Tem certeza que deseja excluir o ativo<span class="symbolName"></span>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger btn-remove">Excluir</button>
              </div>
            </div>
          </div>
        </div>
        </div>
    

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/ema.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/macd.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data-2012-2022.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="{{ url_for('static',    filename='scripts/site.js') }}"></script>


  </body>
</html>
